blockquote {
  font-size: 1.7em;
  line-height: 1.5em;
  width: 75%;
  margin: 2em auto;
  position: relative;
  /* quotes: '\00AB''\00BB''\201E''\201C'; */
  quotes: '\201C''\201D''\2018''\2019';
  color: #eee;
}

blockquote::before {
  content: open-quote;
  position: absolute;
  left: -0.5em;
  top: 0.1em;
  font-size: 4em;
}

blockquote::after {
  content: close-quote;
  vertical-align: -0.65em;
  margin-left: 0.2em;
}

blockquote::before,
blockquote::after {
  font-size: 4em;
  color: #5aa7a9;
}

blockquote em {
  font-style: normal;
}

blockquote + blockquote,
[data-block-style='blockquote'] + [data-block-style='blockquote'] blockquote {
  margin-top: -2.5em;
  transform: translateX(2em);
  font-size: 1.5em;
  color: #ddd;
}

blockquote + blockquote em,
[data-block-style='blockquote'] + [data-block-style='blockquote'] em {
  font-style: italic;
}

blockquote + blockquote::before,
blockquote + blockquote::after,
[data-block-style='blockquote']
  + [data-block-style='blockquote']
  blockquote::before,
[data-block-style='blockquote']
  + [data-block-style='blockquote']
  blockquote::after {
  display: none;
}
