.theme-1 {
  color: #3d4e3e;
  color: #8b9060;
  color: #373735;
  color: #d8cfb3;
}
.theme-2 {
  color: #2a3724;
  color: #618247;
  color: #8dbb6a;
  color: #1a1919;
}
.theme-3 {
  color: #99936a;
  color: #808459;
  color: #969c61;
  color: #edf2e1;
  color: #48504b;
  color: #151514;
}
.theme-4 {
  /* (same as 3) */
}
.theme-5 {
  /* (same as 3) */
}
