html {
  font-size: 100%;
  letter-spacing: 0.03em;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

noscript {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  transform: scaleX(0.93);
}
